*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif;
}

.structure{
    background-color:white;
    width:484px;
    height:700px;
    border-radius: 30px;
    position: relative;
}

.head1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: rgb(51,51,51);
    margin-top: 10px;
    margin-bottom: 20px;
}
.para1{
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(51,51,51);
}
.input1{
    padding: 14px;
    padding-right: 80px;
    border-radius: 15px;
    border: 2px solid rgb(192, 192, 192);
    margin-bottom:0px ;
    font-size: 16px;
    margin-bottom: 10px;
}
.para2{
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(51,51,51);
}
.input2{
    padding: 14px;
    padding-right: 80px;
    border-radius: 15px;
    border: 2px solid rgb(192, 192, 192);
    margin-bottom: 10px;
    font-size: 16px;
}
.input1:hover{
    border: 2px solid rgb(123, 121, 121);
}
.input2:hover{
    border: 2px solid rgb(123, 121, 121);
}
.input1:focus{
    border: 2px solid rgb(209, 206, 206);
    outline: 4px solid rgb(69, 176, 229);
}
   
.input2:focus{
    border: 2px solid rgb(209, 206, 206);
    outline: 4px solid rgb(69, 176, 229);
}
.anchor1{
    padding-left: 100px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color:rgb(51,51,51);
}
.but1{
    margin-top: 15px;
    border-radius: 20px;
    padding: 0px 18px;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
    background-color: rgb(230, 0, 35);
    color: white;
    border: none;
    height: 40px;
    width:55%;
}
.but1:hover{
    background-color:rgb(210, 20, 25) ;
}
.para3{
    font-weight: 700;
    padding-left: 215px;
    margin-top: 5px;
    font-size: 14px;
}
.but2{
    margin-top: 10px;
    border-radius: 20px;
    padding: 0px 18px;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
    background-color: rgb(18, 97, 235);
    color: white;
    border: none;
    height: 40px;
    width:55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g-signin2{
    border-radius: 30px;
    
}

.pre1{
    margin-top: 17px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color: grey;
}
.bold1{
    color: black;
}
.anchor2{
    padding-left: 150px;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color:rgb(51, 51, 51);
}
.div2{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    margin-right: 10px;
}
.anchor3{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
