* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
}

nav {
  justify-content: space-between;
  width: 100%;
}

#leftoptions {
  display: flex;
  margin: 0px 8px;
  align-items: center;
}

#rightoptions {
  display: flex;
}

.optionscontainer {
  padding: 12px 0px;
  font-weight: 500;
}

.loginbutton {
  border-radius: 40px;
  background-color: #e60023;
  width: fit-content;
  padding: 2px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  margin-right: 13px;
}

.loginbuttonlabel {
  color: white;
  font-weight: 500;
  padding: 8px 12px;
}

.signupbutton {
  border-radius: 40px;
  background-color: #efefef;
  width: fit-content;
  padding: 2px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  margin-right: 13px;
}

.signupbuttonlabel {
  color: #111111;
  font-weight: 500;
  padding: 8px 12px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-snap-type: y mandatory;
}

.container {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container section {
  height: 100vh;
  scroll-snap-align: start;
}

.container section:nth-of-type(1) {
  background-color: rgb(238, 255, 0);
}

.container section:nth-of-type(2) {
  background-color: rgb(255, 0, 0);
}

.container section:nth-of-type(3) {
  background-color: rgb(0, 255, 17);
}

.container section:nth-of-type(4) {
  background-color: rgb(21, 0, 255);
}

footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(228, 228, 228);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  font-size: 12px;
  padding: 5px;
  color: black;
}