.container .card {
    width: 100%;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    /* height: 1000px; */
    padding: 5px;
    background-color: var(--cardColor);
    border-radius: 10px;
    transition: scale 200ms ease-in-out;
    text-decoration: none;
    color: black;
}

.card:hover {
    scale: 1.05;
}

.caption span {
    display: block;
    overflow: hidden;
    margin: 10px;
}

.user {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.card .card-img {
    border-radius: 10px;
}

.user .usr-img {
    margin: 10px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.container .card-img:hover {
    opacity: 80%;
}