* {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

.body{
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

#user-profile {
    height: 28px;
    width: 28px;
}

nav {
    display: flex;
    padding: 5px;
    align-items: center;
    height: 70px;
}

nav nav a,
nav img {
    margin: 10px;
}

.SearchArea {
    display: flex;
}

#SearchBar {
    border: 0px;
    background-color: rgb(192, 192, 192);
    padding: 12px;
    width: 100%;
    border-radius: 16px;
    margin-left: 0px;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: black;
    width: max-content;
}

#arrow-down {
    padding: 0;
}

#arrow-down:hover {
    /* background-color: 8px solid rgba(214, 214, 214, 0.388); */
    border: 8px solid white;
    transform: scale(0.8);
}

nav a {
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

nav a:nth-child(2) {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
}

nav a:hover {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 15px;
    color: white;
}

#notification {
    height: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    flex-direction: row;
}

.container .card {
    min-width: 20%;
    max-width: 30%;
    height: 100%;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: rgb(121, 121, 121); */
    border-radius: 10px;
}

.caption span {
    display: block;
    height: 20px;
    overflow: hidden;
    margin: 10px;
}

.user {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.card img {
    border-radius: 10px;
}

.user img {
    margin: 10px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.container img:hover {
    opacity: 80%;
}


header {
    display: flex;
    width: 100%;
}

nav {
    justify-content: space-between;
    width: 100%;
}

#leftoptions {
    display: flex;
    margin: 0px 8px;
    align-items: center;
}

#leftoptions img {
    height: 120px;
    width: 140px;
}

#logo{
    height: 100px !important;
    width: 100px !important;
    margin: 0px 0px 10px 0px;
}

#rightoptions {
    display: flex;
}

.optionscontainer {
    padding: 12px 0px;
    font-weight: 500;
}

.loginbutton {
    border-radius: 40px;
    background-color: #8F51EA;
    width: fit-content;
    padding: 2px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-right: 13px;
}

.loginbutton:hover,
.signupbutton:hover,
#closePopup {
    cursor: pointer;
}

.loginbuttonlabel {
    color: white;
    font-weight: 500;
    padding: 8px 12px;
}

.signupbutton {
    border-radius: 40px;
    background-color: #efefef;
    width: fit-content;
    padding: 2px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-right: 13px;
}

.signupbuttonlabel {
    color: #111111;
    font-weight: 500;
    padding: 8px 12px;
}

section {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

/* html {
    scroll-snap-type: y mandatory;
  } */

.container {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.container section {
    /* height: 100vh; */
    scroll-snap-align: start;
    align-items: center;
}

.container section:nth-of-type(1) {
    background-color: rgb(238, 255, 0);
}

.container section:nth-of-type(2) {
    background-color: rgba(90, 87, 87, 0.541);
}

/* .container section:nth-of-type(3) {
    background-color: rgb(0, 255, 17);
  } */

/* .container section:nth-of-type(4) { */
/* background-color: rgb(21, 0, 255); */
/* } */
.welcomesection1h1 {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}

/* .rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */



.section1 {
    background-image: url(https://wallpapercave.com/wp/wp5133714.jpg);
    opacity: 0.95;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    height: 100vh;


}

.welcomesection1 {
    color: #efefef;
    font-weight: 400;
    /* display: inline; */
    text-align: center;
    align-self: center;
}

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.welcomesection1h1 span {
    font-weight: 900;
    font-size: 120px;
    font-family: "Rowdies", sans-serif;
    background-image: url(https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-size: contain;
    background-clip: text;
    color: transparent;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    /* background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%); */
    /* filter: drop-shadow(  15 16 white); */


}

.welcomesection1 h2 {
    margin-top: 5px;
    font-size: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    position: relative;
    overflow: hidden;
    height: 4rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 2s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-top: 25px;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 25px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.section2 {
    height: 100vh;
    width: 100%;
    /* display: flex; */
    z-index: -1;
    /* animation-range: entry crossing; */
}

.section2images {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    z-index: 0;
    opacity: 0.85;
    animation-iteration-count: infinite;
}

.section2images {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.section2images img {
    margin: 0;
    padding: 0;
}

.section2images img:first-child {
    margin-left: -5px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.section2div {
    position: sticky;
    display: flex;
    z-index: 1;
    font-weight: 900;
    flex-direction: column;

}

.section2div h1 {

    padding: 5px;
    background-color: #111111;
    color: #efefef;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
}

.section2div h1 p {
    align-items: center;
    animation: slide 10s ease-in;
    animation-delay: 3s;
    font-size: 40px;
    font-weight: 700;
    animation-direction: alternate;
    right: 0;
    animation-fill-mode: both;
    left: 20px;
    animation-range-start: contain;
}

@keyframes slide {
    from {
        transform: translateX(100%);
        opacity: 0;
        color: red;
    }

    50% {
        color: green;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        color: #8F51EA;
    }
}

.section2div h1 span {
    font-size: 50px;
    font-weight: 900;
    /* margin-right: 20px; */
    /* transition: cubic-bezier(0.23, 1, 0.320, 1); */
    /* margin-left: 10px; */
    animation: slide-right 2s ease-in alternate-reverse, fade-in 2s ease-in;
    text-align: left;

    animation-range-start: contain;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(0%);
        opacity: 0;
    }

    to {
        transform: translateX(100%);
        opacity: 1;
    }
}

.section2afterimgtext {
    display: flex;
    width: 100%;
    background-color: #111111;
    justify-content: space-around;
    align-items: center;
}

.section2afterimgtext ul {
    color: white;
    text-align: center;
    padding: 15px;
    list-style-type: none;

}

.section2afterimgtext ul li {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.section2afterimgtext ul :nth-child(1) {
    animation: fade-in 2s ease-in;
    filter: drop-shadow(5px 3px 2px #8F51EA);
    outline: #111111;
    animation-fill-mode: backwards;
    animation-range-start: contain;

}

.section2afterimgtext ul :nth-child(2) {
    animation: fade-in 2s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 2s;
    margin-left: 50px;
    filter: drop-shadow(5px 3px 2px #8F51EA);
    outline: #111111;

    animation-range-start: contain;

}

.section2afterimgtext ul :nth-child(3) {
    animation: fade-in 2s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 4s;
    margin-left: 100px;
    filter: drop-shadow(5px 3px 2px #8F51EA);
    outline: #111111;

    animation-range-start: contain;

}

.buttoncontainer {
    display: flex;
    position: relative;
}

.buttoncontainer button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 8px;
    padding: .5em 1.5em;
    font-size: 20px;
    font-weight: 600;
    color: #8F51EA;
    transition: all .3s ease;
}

.arrow {
    fill: #94a1b2;
    position: absolute;
    pointer-events: none;
    width: 24px;
    right: 0;
    top: 25%;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.buttoncontainer button:hover {
    letter-spacing: 2px;
}

.buttoncontainer button:hover~.second {
    opacity: .66;
    right: -20px;
    transition-delay: 50ms;
}

.buttoncontainer button:hover~.third {
    opacity: .33;
    right: -40px;
    transition-delay: 100ms;
}

.second,
.third {
    opacity: 0;
}

.section3divh1 {
    background-color: #111111;
    color: white;
    text-align: right;

    padding-right: 20px;

}

.section3divh1 h1 {
    margin-top: 50px;
    animation: slide 3s ease-in;
    font-size: 40px;
    font-weight: 700;
    filter: drop-shadow(5px 3px 2px greenyellow);
}

.section3divh2 {
    display: flex;
    flex-direction: row;
    background-image: url("https://i.pinimg.com/736x/5d/10/a0/5d10a0c14484791793c79ebf0aca86b7.jpg");
    background-repeat: no-repeat;
    background-size: 34.5vw 50vh;
    background-blend-mode: lighten;
    align-content: center;
    justify-content: space-between;
    z-index: 1;
}

.section3divh2text {
    padding: 20px !important;
    background-color: transparent;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3divh2text h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    width: fit-content;
    color: #ff5656;
}

.section3divh2text button {
    padding: 17px 40px !important;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(16, 16, 16);
    box-shadow: rgba(232, 229, 229, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #efefef;
}

.section3divh2text button:hover {
    letter-spacing: 3px;
    background-color: rgb(214, 16, 218);
    color: hsl(0, 3%, 6%);
    box-shadow: rgb(206, 47, 255) 0px 7px 29px 0px;
}

.section3divh2text button:active {
    letter-spacing: 3px;
    background-color: greenyellow;
    color: hsl(0, 0%, 4%);
    box-shadow: greenyellow 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.section3divh2imgs {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: fit-content;
    z-index: 0;
}

.growing-container {
    background-image: url("https://media.istockphoto.com/id/498478219/photo/stars-at-night-sky.webp?b=1&s=170667a&w=0&k=20&c=h9OIWHvnqDfqgJp-6fwXcfitObtsEl1GowkqmF-mh44=");
    background-size: cover;
    opacity: 1;
}

.section4text {
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 100px !important;
    z-index: 1;
}

.section4text h1 {
    font-size: 40px;
    font-weight: 400;
    animation: fade-in 5s ease-in;
    animation-delay: 15s;
    animation-fill-mode: backwards;
}

.section4text h2 {
    font-size: 25px;
    font-weight: 200;
    animation: fade-in 5s ease-in;
    animation-delay: 20s;
    animation-fill-mode: backwards;
}

.growing-container {
    background-color: #111111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px !important;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: rgb(228, 228, 228);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
    color: black;
}

.structure {
    background-color: #fff;
    width: 50%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form .structure {
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    transform: none;
    top: 0%;
    left: 0%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

* {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

input,
.but2 {
    padding-left: 10px !important;
}

nav a {
    padding: 10px !important;
}

.loginbuttonlabel,
.signupbuttonlabel {
    padding: 8px 12px !important;
}